/* Corps du site */
@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Medium.ttf");
}

@font-face {
  font-family: "Aldrich";
  src: url("/fonts/Aldrich-Regular.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'WorkSans', sans-serif;
  color: #5D5D5D;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
}

.row {
  margin: auto;
}

.col {
  margin: auto;
}

/* Navbar */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 1001;
  width: 300px;
  height: 100%;
  padding: 40px;
  background-color: #222;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
  transform: translate3d(360px,0,0);
}
.menu-wrap.active {
  transform: translate3d(0px,0,0);
}

.menu-wrap .menu img {
  margin-bottom: 100px;
  position: fixed;
  bottom: 0;
  width: 230px;
}

.menu-wrap .menu .icon-list a {
  position: relative;
  font-family: "Oswald", "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #eee;
  font-size: 20px;
  transition: all 0.3s ease;
}
.menu-wrap .menu .icon-list a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  top: 80%;
  transition: all 0.3s ease;
}
.menu-wrap .menu .icon-list a:hover {
  color: #3b95dc;
}
.menu-wrap .menu .icon-list a:hover::before {
  width: 50%;
  background-color: #3b95dc;
}

/* Buttons */
.menu-button, 
.close-button {
  position: fixed;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.menu-button {
  right: 0px;
  z-index: 102;
}
.close-button {
  left: -50px;
  z-index: 100;
}

 /* Header */

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-position: center top;
    background-size: cover;
}

.header div.container div.row {
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
}

.header div.container div.row h1 {
    margin-top: 40vh;
    font-size: 45px;
    font-family: 'Aldrich', sans-serif;
}

.header div.container div.row h2 {
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    margin-top: 20px;
}

.header div.container div.row p {
    font-size: 16px;
}

.header div.container div.row i.fa-solid {
    color: #FFFFFF;
    font-size: 3rem;
}

.header div.container div.row i.fa-solid:hover {
  color: #3b95dc;
}

/* La French Fab */

.french-fab div.logo {
  text-align: center;
}

.french-fab img {
  width: 600px;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0071ab 50%, #3b95dc 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/* Cards */

.cards {
  height: 100vh;
}

.cards a {
  text-decoration: none;
}

.cards .container {
  margin-top: 100px;
}

.cards div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.cards div.container div.row p {
    text-align: justify;
    margin-top: 20px;
}

.card {
  width: 400px;
  height: 460px;
  border-radius: 0px;
}

.card .logo-card {
  margin: 20px;
}

.card .text {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.card .text h2 {
  font-family: 'Aldrich', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.gr-1 {
  background: #0076b0;
  transition: all 0.5s;
}

.gr-2 {
  background: #ce0014;
  transition: all 0.5s;
}

.gr-3 {
  background: #274b9a;
  transition: all 0.5s;
}

.gr-1:hover {
  transform: scaleX(1.1) scaleY(1.1);
  z-index: 10;
  transition: all 0.5s;
}

.gr-2:hover {
  transform: scaleX(1.1) scaleY(1.1);
  z-index: 10;
  transition: all 0.5s;
}

.gr-3:hover {
  transform: scaleX(1.1) scaleY(1.1);
  z-index: 10;
  transition: all 0.5s;
}

.logo-card img {
  width: 300px;
}

.photo img {
  width: 400px;
  margin-top: -1px;
  margin-left: -1px;
}

.from-france {
  position: absolute;
  margin: 20px;
  left: 200px;
  top: 130px;
}

.from-france img {
  width: 180px;
}

.big-card {
  margin: auto;
  margin-top: 0px;
  max-width: 1720px;
  width: 100%;
  max-height: 920px;
  height: 100%;
  color: #FFFFFF;
}

.big-card a {
  text-decoration: none;
  color: #FFFFFF;
}

#top {
  margin: auto;
  max-width: 1720px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  background: #222;
  align-items: center;
}

#top-top {
  max-width: 1720px;
  width: 100%;
  margin: auto;
  max-height: 40px;
  height: 100%;
}

#top-bottom {
  max-width: 1720px;
  width: 100%;
  margin: auto;
  max-height: 40px;
  height: 100%;
}

#bottom {
  max-width: 1720px;
  width: 100%;
  margin: auto;
  max-height: 840px;
  height: 100%;
  padding: 20px;
  padding-top: 0px;
  background: #222;
}

#bottom-top {
  max-width: 1680px;
  width: 100%;
  margin: auto;
  max-height: 420px;
  height: 100%;
}

#bottom-bottom {
  max-width: 1680px;
  width: 100%;
  margin: auto;
  max-height: 420px;
  height: 100%;
}

.big-card .row {
  padding: 0px;
}

.big-card .col-2 {
  padding: 0px;
}

.big-card .col-3 {
  padding: 0px;
}

.big-card .col-4 {
  padding: 0px;
}

.big-card .col-6 {
  padding: 0px;
}

.big-card .col-9 {
  padding: 0px;
}

.big-card .col-10 {
  padding: 0px;
}

.big-card .col-12 {
  padding: 0px;
}

.big-card h2 {
  margin-bottom: 0px;
}

.big-card p {
  margin-bottom: 0px;
}

#top-top {
  align-items: center;
}

#top-bottom {
  align-items: center;
  background: #444444;
}

.tab {
  padding-left: 20px;
}

.tab img {
  width: 20px;
  height: 20px;
}

.tab p {
  max-width: 235px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 15px;
  background: #444444;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab-sopra i.fa-xmark {
  padding-left: 20px;
}

.tab-setem i.fa-xmark {
  padding-left: 105px;
}

.tab-avalco i.fa-xmark {
  padding-left: 105px;
}

.box-close {
  width: 60px;
  height: 40px;
  margin-left: 227px;
}

.box-close:hover {
  background: #FF0000;
}

.fa-x {
  margin-left: 24px;
  margin-top: 12px;
}

.fa-arrow-left-long {
  padding-left: 20px;
}

.fa-arrow-right-long {
  padding-left: 20px;
}

.fa-arrow-rotate-right {
  padding-left: 20px;
}

.link {
  padding-left: 20px;
}

.box-url {
  background: #333333;
  border-radius: 30px;
}

.url {
  padding-left: 20px;
}

.box-user {
  margin-left: 215px;
}

.fa-ellipsis-vertical {
  margin-left: 20px;
}

.ellipsis:hover {
  background: rgb(196, 196, 196);
}


#bottom .row {
  max-height: 410px;
  height: 100%;
}

#bottom .col-3 {
  max-height: 410px;
  height: 100%;
}

#bottom .col-6 {
  max-height: 410px;
  height: 100%;
}

#bottom .col-12 {
  max-height: 410px;
  height: 100%;
}

.big-card-presentation {
  background: #FFFFFF;
  color: #222;
  text-align: center;
  max-width: 840px;
  width: 100%;
  max-height: 410px;
  height: 100%;
}

.big-card-presentation img {
  margin-top: 25px;
}

.big-card-image-3 {
  max-width: 420px;
  width: 100%;
  max-height: 410px;
  height: 100%;
}

.big-card-image-3 img {
  max-width: 420px;
  width: 100%;
  max-height: 410px;
  height: 100%;
}

.big-card-text h2 {
  margin-top: 20px;
}

.big-card-text p {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

.big-card-image-12 {
  border-top: 5px solid #FFFFFF;
  max-width: 1680px;
  width: 100%;
  max-height: 410px;
  height: 100%;
}

.big-card-image-12 img {
  max-width: 1680px;
  width: 100%;
  max-height: 410px;
  height: 100%;
}

#image-sopra-1 {
  background: url(../images/DSC_8475.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image-sopra-2 {
  background: url(../images/DSC_0999.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image-sopra-3 {
  background: url(../images/DSC_0841.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Skills */

.skills-title div.container {
    margin-top: 75px;
}

.skills-title div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.products-wrapper {
  margin: 20px;
}
.products-wrapper .tabs-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: minmax(-webkit-max-content, -webkit-min-content);
  grid-template-rows: minmax(max-content, min-content);
  justify-items: center;
  margin-bottom: 2rem;
}
.products-wrapper .tabs-wrapper .tab-item {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  padding: 0 10px;
}
.products-wrapper .tabs-wrapper .tab-item img {
  margin: auto;
  height: auto;
  max-height: 128px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
  transition: all 0.5s;
}
.products-wrapper .tabs-wrapper .tab-item h2 {
  height: auto;
  max-height: 128px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  .products-wrapper .tabs-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .products-wrapper .tabs-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.products-wrapper .tabbed-content {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.products-wrapper .tabbed-content .item-content {
  width: 100%;
  display: none;
  grid-auto-rows: repeat(auto-fit, minmax(auto, -webkit-max-content));
  grid-auto-rows: repeat(auto-fit, minmax(auto, max-content));
  grid-gap: 2rem;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.products-wrapper .tabbed-content .item-content.active {
  display: grid;
  opacity: 1;
  transition: all 0.5s ease-out;
}
.products-wrapper .tabbed-content .item-content .highlights {
  padding: 1rem;
}
.products-wrapper .tabbed-content .item-content .highlights p {
  margin: auto;
}
@media screen and (min-width: 600px) {
  .products-wrapper .tabbed-content .item-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .products-wrapper {
    margin: 6rem;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .products-wrapper {
    margin: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .products-wrapper {
    margin: 7rem;
  }
}
@media screen and (min-width: 1800px) {
  .products-wrapper {
    margin: 10rem;
  }
}

#expertise-img {
  max-width: 100px;
}

#reactivite-img {
  margin-top: 20px;
  max-width: 125px;
}

#qualite-img {
  margin-top: 55px;
  max-width: 200px;
}

.skills-list {
  text-align: center;
}

.skills-list ul{
  list-style: none;
}
.skills-list li{
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

/* Everywhere */

.everywhere div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.everywhere div.container div.row p {
  text-align: justify;
  margin-top: 20px;
}

figure.snip1477 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 425px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  margin: auto;
  margin-top: 50px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
figure.snip1477:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 110%;
  margin: -15px;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #FFFFFF;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #FFFFFF;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #FFFFFF;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1477:hover h4 {
  background-color: #3b95dc;
}

#everywhere-espacement {
  margin-top: 25px;
}

#btn-everywhere {
  margin: auto;
  max-width: 425px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

/* Map */

.map-title div.container {
  margin-top: 0px;
}

.map-section {
  margin-top: 10px;
}

.map-title div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 28px;
}

.map-image {
  float: right;
  width: 60%;
  min-width: 700px;
  margin: auto;
}

.map-image a {
  fill: rgb(196, 196, 196);
  fill-opacity: 0;
  transition: fill 0.3s;
  stroke: #5D5D5D;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

#ville {
  fill: #3A3A3A;
  stroke: #3A3A3A;
  stroke-opacity: 1;
  stroke-width: 0.3px;
}

.map-section div.row a:hover {
  cursor: pointer;
}

.liste-com {
  color: #5D5D5D;
  float: left;
  position: relative;
  text-align: center;
  margin: auto;
  width: 90%;
  margin-left: -150px;
  border-radius: 20px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 10%;
}

.COM {
  position: absolute;
  cursor: default;
  /* background-color: #FFFFFF; */
  border-radius: 20px;
  opacity: 0;
  top: 200px;
  left: 100px;
  padding: 10px;
}

.COM p {
  margin-bottom: 0px;
}

#prenom {
  font-size: 200%;
}

#information {
  font-size: 150%;
}

/* Form */

.form div.container {
  margin-top: 75px;
}

.form div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: -20px;
}

form { max-width:1400px; margin:50px auto; }

.feedback-input {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #5D5D5D;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #3b95dc; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'WorkSans', sans-serif;
  width: 100%;
  background:#5D5D5D;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#3b95dc; }

/* RGPD */

.rgpd .container .row {
  margin-bottom: 50px;
}

.rgpd .container .row a {
  text-decoration: none;
  color: #5D5D5D;
  font-weight: bold;
}

.rgpd .container .row a:hover {
  color: #3b95dc;
}

/* Footer */

.footer {
  background-color: #3b95dc;
}

.footer div.container div.row div.col-12 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF;
}

.footer div.container div.row div.col-12 img {
  max-width: 300px;
  width: 100%;
}

#copyright {
  text-align: center;
  margin-top: 20px;
}

.footer div.container div.row div.col-12 p {
  text-align: justify;
}

.footer div.container div.row div.col-12 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer div.container div.row div.col-12 ul li {
  text-align: justify;
}

.footer div.container div.row div.col-12 ul li a:hover {
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
  
}

/* Bouton avec les effets */

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #5D5D5D;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #5D5D5D;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #5D5D5D;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.thar-one {
	color: #5D5D5D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5D5D5D;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
	color: #000 !important;
  border-color: #3b95dc;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #3b95dc;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two {
	color: #5D5D5D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5D5D5D;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000000 !important;
	background-color: transparent;
	text-shadow: ntwo;
  border-color: #3b95dc;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000000 !important;
	background: #3b95dc;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* Page Annexe */

.nav-tag {
  height: 100px;
  background-color: #3b95dc;
}

.plan-tag {
  height: 130px;
}

.plan div.list {
  margin-top: 50px;
}

.plan a {
  text-decoration: none;
  color: #3b95dc;
}

.plan a:hover {
  text-decoration: underline;
}

.mentions-tag {
  height: 130px;
}

.mentions h2 {
  margin-top: 50px;
}

.reglementation-tag {
  height: 130px;
}

.reglementation h2 {
  margin-top: 50px;
}

.reglementation a {
  text-decoration: none;
  color: #3b95dc;
}

.reglementation a:hover {
  text-decoration: underline;
}