/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 10;
}

.nav img {
    float: left;
    width: auto;
    height: 65px;
    padding-left: 1rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    line-height: 65px;
    font-size: 25px;
}

.nav div.main_list ul li a:hover {
    color: #FFFFFF;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

.affix {
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}

/* Navbar section adaptater */

@media (min-width: 320px) and (max-width: 992px) {
    .navTrigger {
        display: block;
    }

    .nav img {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    
    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 29vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        padding-right: 15px;
    }

    .nav div.main_list ul li a {
        width: 100%;
        font-size: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@font-face { font-family: "Knockout"; src: url(fonts/Knockout-HTF48-Featherweight.otf); }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #5D5D5D;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

 /* Header */

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-position: center top;
   background-size: cover;
}

.header div.container div.row {
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,0.5) 1px 0 10px;
}

.header div.container div.row h1 {
    margin-top: 40vh;
    font-size: 45px;
    font-family: 'Aldrich', sans-serif;
}

.header div.container div.row h2 {
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    margin-top: 20px;
}

.header div.container div.row p {
    font-size: 16px;
}

.header div.container div.row i.fa-solid {
    color: #FFFFFF;
    font-size: 3rem;
}

/* Cards section */
.cards div.cards-tag {
    height: 65px;
}

.cards div.container {
    margin-top: 10px;
}

.cards div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.cards div.container div.row p {
    text-align: justify;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.contain{
  width: 1300px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contain .card{
  position: relative;
  cursor: pointer;
  border-color: #FFFFFF;
}

.contain .card .face{
  width: 300px;
  height: 300px;
  transition: 0.5s;
}

.contain .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.contain .card:hover .face.face1{
  background: #3b95dc;
  transform: translateY(0);
}

.contain .card .face.face1 .content{
  opacity: 0.4;
  transition: 0.5s;
}

.contain .card:hover .face.face1 .content{
  opacity: 1;
}

.contain .card .face.face1 .content img{
  max-width: 300px;
}

#fabrique-en-france {
  margin-top: 15px;
  max-width: 150px;
}

.contain .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  font-family: 'Aldrich', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 21px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.contain .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-200px);
}

.contain .card:hover .face.face2{
  transform: translateY(0);
}

.contain .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.contain .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.contain .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

/* Skills section */

.skills div.skills-tag {
    height: 140px;
}

.skills div.container {
    margin-top: 10px;
}

.skills div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.skills div.container div.row div.col-4 div.container {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 80%;
}

.skills div.container div.row div.col-4 div.container div.row h2 {
    font-family: 'Aldrich', sans-serif;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 150px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #3b95dc;
    border: 3px solid;
    border-color: #5D5D5D;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.rgpd .container .row a {
  text-decoration: none;
  color: #5D5D5D;
  font-weight: bold;
}

.rgpd .container .row a:hover {
  color: #3b95dc;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
background-image: url(../images/intro-bg.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFFFFF;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #FFFFFF;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #FFFFFF;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #3b95dc;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFFFFF transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

form { max-width:1400px; margin:50px auto; }

.feedback-input {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #5D5D5D;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #3b95dc; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  background:#5D5D5D;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#3b95dc; }