/* Navbar */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 10;
}

.nav img {
    float: left;
    width: auto;
    height: 65px;
    padding-left: 1rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    line-height: 65px;
    font-size: 25px;
}

.nav div.main_list ul li a:hover {
    color: #FFFFFF;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #FFFFFF;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

.affix {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 320px) and (max-width: 992px) {
    .navTrigger {
        display: block;
    }

    .nav img {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    
    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 29vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        padding-right: 15px;
    }

    .nav div.main_list ul li a {
        width: 100%;
        font-size: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

/* Bouton avec les effets */

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #5D5D5D;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #5D5D5D;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #5D5D5D;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.thar-two {
	color: #5D5D5D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5D5D5D;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000000 !important;
	background-color: transparent;
	text-shadow: ntwo;
  border-color: #3b95dc;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000000 !important;
	background: #3b95dc;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
	color: #5D5D5D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5D5D5D;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: #000000 !important;
	background-color: transparent;
	text-shadow: nthree;
  border-color: #3b95dc;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000000 !important;
	background: #3b95dc;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-four {
	color: #5D5D5D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #5D5D5D;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-four:hover {
	color: #000000 !important;
	background-color: transparent;
	text-shadow: nfour;
  border-color: #3b95dc;
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000000 !important;
	background: #3b95dc;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Corps du site */

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #5D5D5D;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

 /* Header */

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-position: center top;
   background-size: cover;
}

.header div.container div.row {
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
}

.header div.container div.row h1 {
    margin-top: 40vh;
    font-size: 45px;
    font-family: 'Aldrich', sans-serif;
}

.header div.container div.row h2 {
    font-size: 20px;
    font-family: 'Aldrich', sans-serif;
    margin-top: 20px;
}

.header div.container div.row p {
    font-size: 16px;
}

.header div.container div.row i.fa-solid {
    color: #FFFFFF;
    font-size: 3rem;
}

.header div.container div.row i.fa-solid:hover {
  color: #3b95dc;
}

/* La French Fab */

.french-fab div.french-fab-tag {
  height: 65px;
}

.french-fab div.container {
  margin-top: 10px;
}

.thumb {
  max-width: 1000px;
  width: 100%;
  height: 400px;
  margin: 70px auto;
  perspective: 1000px;
}

.thumb a {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("../images/label-la-french-fab-horizontal.png");
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.thumb:hover a {
  transform: rotateX(80deg);
  transform-origin: bottom;
}
.thumb a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background: inherit;
  background-size: cover, cover;
  background-position: bottom;
  transform: rotateX(90deg);
  transform-origin: bottom;
}
.thumb a span {
  margin-top: 20px;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  transform: rotateX(-89.99deg);
  transform-origin: top;
  z-index: 1;
}
.thumb a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}

.thumb:hover a:before {
  opacity: 1;
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}

/* Cards */

.cards div.cards-tag {
    height: 65px;
}

.cards div.container {
    margin-top: 10px;
}

.cards div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.cards div.container div.row p {
    text-align: justify;
    margin-top: 20px;
}

.contain{
  position: relative;
  display: flex;
  margin-top: 50px;
}

.contain .card{
  position: relative;
  border-color: #FFFFFF;
  margin: auto;
}

.contain .card .face{
  width: 300px;
  height: 300px;
  transition: 0.5s;
}

.contain .card .face.face1{
  position: relative;
  background: #5D5D5D;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.contain .card:hover .face.face1{
  background: #3b95dc;
  transform: translateY(0);
}

.contain .card .face.face1 .content{
  opacity: 0.8;
  transition: 0.5s;
}

.contain .card:hover .face.face1 .content{
  opacity: 1;
}

.contain .card .face.face1 .content img{
  max-width: 300px;
}

#fabrique-en-france {
  margin-top: 15px;
  max-width: 150px;
}

.contain .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  font-family: 'Aldrich', sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 21px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.contain .card .face.face2{
  position: relative;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-200px);
}

.contain .card:hover .face.face2{
  transform: translateY(0);
}

.contain .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

/* Skills */

.skills div.skills-tag {
    height: 65px;
}

.skills div.container {
    margin-top: 10px;
}

.skills div.container div.row h1 {
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.skills div.container div.row div.col-4 div.container {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 80%;
}

.skills div.container div.row div.col-4 div.container div.row h2 {
    font-family: 'Aldrich', sans-serif;
    color: #5D5D5D;
    margin-top: 20px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #5D5D5D;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/* Timeline */

.timeline ul {
  background-image: url(../images/intro-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #FFFFFF;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 14px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFFFFF transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #FFFFFF;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #3b95dc;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #FFFFFF transparent transparent;
    }
  }

  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }

/* Team */

.team div.team-tag {
  height: 65px;
  margin-top: -16px;
}

.team div.container {
  margin-top: 10px;
}

.team div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.team div.container div.row p {
  text-align: justify;
  margin-top: 20px;
}

.team div.container div.row div.col-6 {
  margin-top: 25px;
}

.team div.container div.row div.col-6 img {
  margin: auto;
  max-width: 600px;
  width: 100%;
  filter: grayscale(1);
  transition: all 0.5s;
  box-shadow: 0px 0px 50px #000000;
}

.team div.container div.row div.col-6 img:hover {
  filter: grayscale(0);
  transition: all 0.5s;
  box-shadow: 0px 0px 10px #000000;
}

.team div.container div.row div.col-6 h2 {
  font-size: 25px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 45px;
  text-align: justify;
}

.team div.container div.row div.col-6 p {
  text-align: justify;
  margin-top: 20px;
}

.team div.container div.row div.text {
  padding-left: 100px;
}

/* Everywhere */

.everywhere div.everywhere-tag {
  height: 65px;
  margin-top: -16px;
}

.everywhere div.container {
  margin-top: 10px;
}

.everywhere div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.everywhere div.container div.row p {
  text-align: justify;
  margin-top: 20px;
}

figure.snip1477 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 425px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  margin: auto;
  margin-top: 50px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.8);
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 110%;
  margin: -15px;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #FFFFFF;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #FFFFFF;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #FFFFFF;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1477:hover h4 {
  background-color: #3b95dc;
}

#btn-everywhere-maps {
  margin: auto;
  max-width: 425px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

/* Map */

.map div.map-tag {
  height: 65px;
}

.map div.container {
  margin-top: 10px;
}

.map div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 28px;
}

.map-image {
  width: 60%;
  margin: auto;
}

.map-image path {
  fill: #5D5D5D;
  transition: fill 0.3s;
}

.map-image path:hover {
  fill: #3b95dc;
  transition: fill 0.3s;
}

.map-list ul {
  display: flex;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 50px;
}

.map-list li {
  margin-right: auto;
}

.map-list a {
  text-decoration: none;
  color: #5D5D5D;
}

/* Form */

.form div.form-tag {
  height: 65px;
}

.form div.container {
  margin-top: 10px;
}

.form div.container div.row h1 {
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: -20px;
}

form { max-width:1400px; margin:50px auto; }

.feedback-input {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #5D5D5D;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #3b95dc; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  background:#5D5D5D;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#3b95dc; }

/* RGPD */

.rgpd .container .row {
  margin-bottom: 50px;
}

.rgpd .container .row a {
  text-decoration: none;
  color: #5D5D5D;
  font-weight: bold;
}

.rgpd .container .row a:hover {
  color: #3b95dc;
}

/* Questions */

.questions {
  background-color: #5D5D5D;
}

.questions div.container div.row div.col-4 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF;
}

.questions div.container div.row div.col-4 h2 {
  text-align: start;
}

.questions div.container div.row div.col-4 p {
  text-align: justify;
}

/* Footer */

.footer {
  background-color: #3b95dc;
}

.footer div.container div.row div.col-4 {
  margin-top: 50px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF;
}

.footer div.container div.row div.col-4 img {
  max-width: 300px;
}

#copyright {
  text-align: center;
  margin-top: 20px;
}

.footer div.container div.row div.col-4 div.container {
  margin-top: 50px;
}

.footer div.container div.row div.col-4 p {
  text-align: justify;
}

.footer div.container div.row div.col-4 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer div.container div.row div.col-4 div.contact-footer {
  margin-top: 20px;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #5D5D5D;
  border-radius: 5px;
  max-width: 100px;
}

.footer div.container div.row div.col-4 div.contact-footer:hover {
  color: #5D5D5D;
  background-color: #FFFFFF;
}

.footer div.container div.row div.col-4 ul li {
  text-align: justify;
}

.footer div.container div.row div.col-4 ul li a:hover {
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}